<%= form_with(model: account, local: true) do |form| %>
  <% if account.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(account.errors.count, "error") %> prohibited this account from being saved:</h2>

      <ul>
      <% account.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_field :description, id: :account_description %>
  </div>

  <div class="field">
    <%= form.label :initial_balance %>
    <%= form.text_field :initial_balance, id: :account_initial_balance %>
  </div>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.text_field :user_id, id: :account_user_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
